@import '~antd/dist/antd.dark.less';

:root{
  --text-primary: #023b59;
 --bgSecondary: #F9F9F9;
 --border: #d9d9d9;
}

@font-face {
  font-family: 'Messina Sans Book';
  src: url('../assets/fonts/MessinaSans-Book.woff') format('woff2'),
      url('../assets/fonts/MessinaSans-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BN Axel Grotesk';
  src: url('../assets/fonts/BNAxelGroteskBold.woff2') format('woff2'),
      url('../assets/fonts/BNAxelGroteskBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Messina Sans Book';
}

.app{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main{
  flex: 1 1;
  width: 100%;
}

.routes{
  width: 100%;
  padding: 50px;
  max-width: 1440px;
  margin: 0 auto;
}

.nav-container{
  display: flex;
}

.logo-container{
  background-color: #001529;
  flex: 0.2 1;
  display: flex;
  padding: 20px;
  align-items: center;
  width: 100%;
  padding-left: 50px;
}

.nav-menu-container {
  flex: 0.8 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: transparent !important;
}

.logo {
  margin-top: 0.5em;
}

.logo a{
 font-family: 'BN Axel Grotesk';
 color: white;
}

.nav-menu-container-mobile,
.mobile-menu-button {
  display: none;
}

.nav-menu-container-mobile.visible {
  display: block;
  position: absolute;
  top: 100px;
}

.chart-details {
  height: 500px;
}

.coin-heading-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid var(--border);
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}

.stats-container{
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  gap: 30px
}

.coin-stats{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  font-size: 1rem;
  opacity: 0.9;
  padding: 20px;
}

.coin-stats-name{
  display: flex;
  gap: 10px;
  font-size: 1rem;
}

.stats-container p {
  font-size: 1rem;
  opacity: 0.9;
}

.select-news{
  width: 180px;
}

.news-card{
  min-height: 300px !important;
}

.news-image-container{
  display: flex !important;
  justify-content: space-between !important;
  flex-direction: column-reverse;
  text-align: left;
}

.news-image-container .img{
  width:100px;
  height:100px;
}

.news-image-container p {
  text-align: left;
}

.news-title{
  width: 100%;
  margin-top: 10px;
}

.news-card p{
  margin: 10px 0px !important;
}

.provider-container{
  display: flex;
  justify-content: space-between;
}

.provider-name{
  margin-left: 10px;
}

.chart-header{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.price-container{
  display: flex !important;
  gap: 20px !important;
  align-items: center !important;
  flex-wrap: wrap !important;
}

.current-price{
  margin-top: 0px !important;
}

.home-heading-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.show-more{
  margin-top: 0px !important;
}

.search-crypto{
  margin: 20px auto 30px auto;
  width: 250px;
}

.select-timeperiod{
  width: 120px !important;
  margin: 20px 0 !important;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
} 






.chart-container {
  position: relative;
  width: 90%;
  margin: 10px auto 20px;
  text-align: right;
}

.ant-statistic {
  border-radius: 10px;
  text-align: left;
}

.ant-card {
  border-radius: 10px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.crypto-table img {
  max-width: 20px;
}

.search-crypto input {
  border: none;
  border-bottom: 2px solid var(--text-primary);
  border-radius: 0;
}

.search-crypto input::placeholder,
.ant-select-selection-placeholder {
  color: var(--text-primary);
}

.global-stats-container .ant-statistic {
  margin: 0 30px;
}

.ant-statistic-title {
  font-size: 20px;
}

.ant-statistic-content {
  font-size: 16px;
}

@media screen and (max-width:1000px){

  .news-image-container img {
    display: none;
  }
  
  .stats-container{
      flex-direction: column;
  }

  .stats-container h2{
      margin-top: 0px;
  }
}

@media screen and (max-width:800px){

  .is-mobile-hidden {
    display: none;
  }

  .nav-menu-container {
    display: none;
  }

  .app{
      flex-direction: column;
      overflow: hidden;
  }

  .navbar{
      flex: 1;
  }

  .main{
    padding-top: 50px;
  }

  .nav-container{
      height: 100px;
      position:fixed;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      z-index: 100;
      background-color: var(--bgSecondary);
  }

  .mobile-menu-button {
    display: block;
    margin-right: 50px;
    width: 44px;
    height: 44px;
  }

  .logo-container {
    flex: 0.4 1;
    padding: 0;
    height: 100%;
    padding-left: 50px;
  }

  .logo h2 {
    margin: 0;
  }

  .logo a {
    font-size: 24px;
  }

  .ant-menu{
    position: absolute;
    right: 0px;
  }

  .home-title{
    font-size: 1.4rem !important;
    padding-right: 40px;
  }

  .show-more{
    font-size: 1rem !important;
  }

  .news-title {
    width: 100%;
  }
}

@media screen and (max-width: 500px){
  .coin-links{
      padding: 0px;
  }

  .routes {
    padding: 50px 20px;
  }

  .home-title {
    font-size: 1.1rem;
  }

  .logo-container {
    padding-left: 20px;
  }

  .logo {
    line-height: 0.74 !important;
  }

}
@media screen and (max-width: 500px){
  .chart-details {
    height: 350px;
  }
}
